<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 콘솔에 로그 출력 -->
    <appender name = "console" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> [%d{yyyy-MM-dd HH:mm:ss}:%-3relative] [%thread] %-5level %logger{36} - %msg%n </pattern>
        </encoder>
    </appender>

    <!-- 로그 파일에 기록-->
    <appender name = "FILE" class = "ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/myapp/application.log</file>
        <rollingPolicy class = "ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/myapp/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- 30일간 로그 보관-->
        </rollingPolicy>
        <encoder>
            <pattern> [%d{yyyy-MM-dd HH:mm:ss}:%-3relative] [%thread] %-5level %logger{36} - %msg%n </pattern>
        </encoder>
    </appender>

    <!-- Auction_shop.auction 패키지 로그 레벨 설정 -->
    <logger name = "Auction_shop.auction" level = "Debug"/>

    <!-- root 로그 레벨 설정 및 콘솔과 파일로 로그 출력-->
    <root level = "Info">
        <appender-ref ref = "console"/>
        <appender-ref ref = "FILE"/>
    </root>

</configuration>