name: Integration and Deployment

on:
  pull_request_target: # develop 브랜치로 pull request 이벤트 발생 시 실행
    branches: [develop]
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest  # 실행 환경
#    permissions:
#      contents: read
#      packages: write

    # 작업 실행 단계
    steps:
      # PR 작성자가 repo에 대한 write 권한이 있는지 확인
      - name: Get User Permission
        id: checkAccess
        uses: actions-cool/check-user-permission@v2
        with:
          require: write
          username: ${{ github.triggering_actor }}
        env:
          GITHUB_TOKEN: ${{ github.triggering_actor }}

      # PR 작성자가 권한이 없는 경우 워크플로우 종료
      - name: Check User Permission
        if: steps.checkAccess.outputs.require-result == 'false'
        run: |
          echo "${{ github.triggering_actor }} does not have permissions on this repo."
          echo "Current permission level is ${{ steps.checkAccess.outputs.user-permission }}"
          echo "Job originally triggered by ${{ github.actor }}"
          exit 1

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # v3.1.0

      # gradlew 파일을 실행할 권한 부여
      - name : Grant Execution Permission
        run : chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build -i
        env:
#          USERNAME: ${{ github.actor }}
#          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CLOUD_AWS_CREDENTIALS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
          CLOUD_AWS_CREDENTIALS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
          CLOUD_AWS_REGION_STATIC: ap-southeast-2
          SPRING_JWT_SECRET: ${{ secrets.JWT_SECRET }}
          SPRING_DATA_MONGODB_HOST: ${{ secrets.MONGODB_HOST }}
          SPRING_DATA_MONGODB_PORT: ${{ secrets.MONGODB_PORT }}
          SPRING_DATA_REDIS_HOST: ${{ secrets.REDIS_HOST }}
          SPRING_DATA_REDIS_PORT: ${{ secrets.REDIS_PORT }}
          SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MySQLDialect
          SPRING_JPA_HIBERNATE_DDL_AUTO: create
          SPRING_DATASOURCE_DRIVER_CLASS_NAME: com.mysql.cj.jdbc.Driver
          SPRING_DATASOURCE_URL: ${{ secrets.MYSQL_URL }}
          SPRING_DATASOURCE_USERNAME: ${{ secrets.MYSQL_USERNAME }}
          SPRING_DATASOURCE_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}

      - name: Publish to GitHub Packages
        run: ./gradlew publish

